.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="mirza"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="mirza"]::before {
  content: 'Mirza';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="roboto"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="roboto"]::before {
  content: 'Roboto';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="lexend"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="lexend"]::before {
  content: 'Lexend';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="inter"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="inter"]::before {
  content: 'Inter';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="arial"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="arial"]::before {
  content: 'Arial';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="times-new-roman"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="times-new-roman"]::before {
  content: 'Times new roman';
}

.ql-font-roboto {
    font-family: var(--font-roboto);
}
.ql-font-inter {
    font-family: var(--font-inter);
  }
.ql-font-mirza {
    font-family: var(--font-mirza);
}
.ql-font-lexend {
    font-family: var(--font-lexend);
}