@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* background-color: black;
  color: white; */
}
.highlight {
  background-color: yellow;
}
.ql-container.ql-snow {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  border: none;
}
.ql-toolbar {
  padding: 1in;
  margin: 1rem;
  width: 8.5in;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f3f3f3;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}
@page {
  margin: 1in;
}
@media print {
  body{
    background: none;
    visibility: hidden;
  }
  .ql-container.ql-snow {
    border: none;
    visibility: visible;
    width: 6.5in;
    height: 9in;
    padding: 20px;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }
  .ql-toolbar {
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
