@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./size-labels.css);
@import url(./font-labels.css);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

body {
  /* background-color: black;
  color: white; */
  font-family: var(--font-roboto);
}
.highlight {
  opacity: 40%;
  pointer-events: none;
}
.ql-container.ql-snow {
  width: 8.5in;
  height: 11in;
  /* min-height: 5in; */
  padding: 1in;
  /* margin: 1rem; */
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5); */
  border: 1px solid #ccc !important;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: var(--font-roboto);
}
.cursor {
  width: 2px;
  background-color: inherit; /* Ensures the cursor bar has the right color */
  /* pointer-events: none; */
  margin-right: 100px;
  opacity: 1; /* Initially visible */
  transition: opacity 0.5s ease;
  /* animation: fadeOut 0.5s ease forwards 1.5s;  */
  /* animation: blink 1s step-end infinite; */
}

.cursor::after {
  content: attr(data-username);
  margin-left: 4px;
  padding: 2px 4px;
  background-color: inherit;
  color: white;
  font-size: 12px;
  border-radius: 3px;
  white-space: nowrap;
  line-height: 1;
  position: absolute;
  left: 100%;
  /* top: 0%; */
  transform: translateY(-100%);
  opacity: 1;
  /* transition: opacity 0.5s ease;  */
  animation: fadeOut 0.5s ease forwards 1.5s; 
  pointer-events: none;
}
.cursor.hide {
  opacity: 0;
}
.cursor:hover {
  opacity: 1;
  animation: none;
}
.cursor:hover::after {
  opacity: 1;
  animation: none;
}

.hidden {
  visibility: hidden;
}
/* @keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
} */

.ql-formats button{
  margin: 0 4px;
  border-radius: 5px;
}
.ql-formats button:hover{
  background-color: #A6A9B1 !important;
}
.ql-toolbar .ql-formats:not(:last-child) {
  border-right: 1px solid #ccc; /* Adjust the color as needed */
  margin-right: 10px; /* Space between the separator and the next group */
  padding-right: 10px; /* Space between the buttons and the separator */
}
.ql-toolbar {
  /* padding-top: 100px; */
  /* margin: 1rem; */
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #f3f3f3;
  border: none !important;
  border-bottom: 1px solid #878b91 !important;
  /* box-shadow: 0 0 0 0 rgba(0, 0, 0, .5); */
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  padding-left: 20px !important;
}
@page {
  margin: 1in;
}
@media print {
  body {
    background: none;
    visibility: hidden;
  }
  .ql-container.ql-snow {
    border: none !important;
    visibility: visible;
    width: 6.5in;
    height: 9in;
    padding: 20px;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
    /* overflow: hidden !important; */
  }
  .highlight, .cursor, .ql-toolbar {
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
